<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Test gulp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="super.js"></script>
</head>

<body ng-app="myApp">
  <div ng-controller="example">

    hello world! {{date}}
    <button ng-click="onClick('herro')">HERRO</button>
  </div>
  <div ng-controller="super">

    hello world! {{date}}
    <button ng-click="onClick('herro')">HERRO</button>
  </div>
</body>

</html>